.FilterInput {
  @apply bg-slate-800 bg-opacity-50;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition-duration: 100ms;
  width: 100%;

  &:hover {
    @apply bg-slate-700 bg-opacity-50;
  }

  &:active {
    @apply bg-slate-900 bg-opacity-50;
  }
}

.ClearButton {
  @apply text-slate-500;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  transition-duration: 200ms;
  opacity: 0;
  pointer-events: none;

  &:hover {
    @apply text-slate-300;
  }

  .FilterInput:not([value=""]) + & {
    opacity: 1;
    pointer-events: all;
  }
}

.AccordionRoot {
  border-radius: 0.75rem;
  overflow: auto scroll;
}

.AccordionItem {
  &:first-of-type {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }

  &:last-of-type {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
}

.AccordionTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  @apply bg-slate-800 bg-opacity-50 text-slate-400 text-sm;
  transition-duration: 100ms;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);

  &:hover {
    @apply bg-slate-700 bg-opacity-50;
  }

  &:active {
    @apply bg-slate-900 bg-opacity-50;
  }

  .AccordionTriggerIcon {
    transition: transform 0.3s ease-in-out;
  }

  &[data-state="open"] > .AccordionTriggerIcon {
    transform: rotate(180deg);
  }
}

.AccordionContent {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown 0.5s ease-in-out;
  }

  &[data-state="closed"] {
    animation: slideUp 0.5s ease-in-out;
  }
}

.SongButton {
  @apply bg-slate-800 bg-opacity-50;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
  transition-duration: 100ms;

  &:hover {
    @apply bg-slate-700 bg-opacity-50;
  }

  &:active {
    @apply bg-slate-900 bg-opacity-50;
  }

  span {
    @apply text-slate-400 text-xs;
  }

  ul {
    @apply list-disc pl-4 text-slate-300 text-xs sm:text-sm;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
