@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-auto;
}

body {
  @apply h-screen bg-slate-900 text-white;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@font-face {
  font-family: "HYWenHei 85W";
  font-style: normal;
  font-weight: normal;
  src:
    local("HYWenHei 85W"),
    url("./assets/fonts/zhcn.woff") format("woff");
}

@font-face {
  font-family: "DINPro-Medium";
  src: url("./assets/fonts/DINPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "inpin_hongmengti";
  src: url("./assets/fonts/inpin_hongmengti.ttf") format("truetype");
}
