[data-game="genshinImpact"] * {
  --text-shadow: 0 0 4px #000a;
  --box-shadow: 0 0 8px -4px rgb(0 0 0 / 0.5);
  --pill-background: linear-gradient(to bottom, #ece5d8, transparent 400%);
  font-family: "HYWenHei 85W";

  .button {
    padding: 0.5rem 2rem;
  }

  .icon-button,
  .button {
    border-radius: 9999px;
    background: #ece5d8;
    color: #3b4255;
    transition-duration: 0.2s;
    outline: 3px solid transparent;
    outline-offset: -1px;
    box-shadow: var(--box-shadow);

    &:hover {
      outline: 2px solid white;
      box-shadow: none;
    }

    &:focus-visible {
      outline: 4px solid white;
    }

    &:active {
      background: hsl(from #d3bc8e h s l / 0.3);
      color: white;
      outline-color: rgb(0 0 0 / 0.2);
      box-shadow: 0 0 8px -4px white;
    }
  }

  #controls {
    margin: 0.5rem;
    width: 90%;
    /* background: #ece5d8; */
    /* background: rgb(0 0 0 / 0.2); */
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  #endless-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-shadow: var(--text-shadow);
  }

  #guess-table {
    --background-hue: black;
    --background-alpha: 0.2;
    --background-mod: 0;
    width: calc(100% - 2rem);
    text-wrap: nowrap;
    margin: 0 1rem;

    th {
      padding: 0.5rem;
      text-align: left;
      font-weight: normal;
      font-size: 0.875rem;
      color: #ece5d8;

      &:last-child {
        width: 0;
      }
    }

    tbody tr:nth-of-type(odd) {
      --background-mod: 5;
    }

    td {
      color: transparent;
    }

    th,
    td {
      --background-color: hsl(
        from var(--background-hue) h s calc(l + var(--background-mod)) /
          var(--background-alpha)
      );
      background: var(--background-color);
      padding: 0.5rem 1rem;
      transition-duration: 0.5s;
      position: relative;
      text-shadow: var(--text-shadow);

      &:last-child {
        padding: 0 0.5rem;
        .buttons {
          display: flex;
          gap: 0.5rem;
        }
      }

      &[data-correct] {
        --background-alpha: 0.5;
        color: white;
      }

      &[data-correct="true"] {
        --background-hue: rgb(4 120 87);
      }

      &[data-correct="false"] {
        --background-hue: rgb(190 18 60);
      }

      &:first-child::before,
      &:last-child::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1rem;
        height: 100%;
      }

      &:first-child::before {
        right: 100%;
        background: linear-gradient(
          to right,
          transparent,
          var(--background-color)
        );
      }

      &:last-child::after {
        left: 100%;
        background: linear-gradient(
          to left,
          transparent,
          var(--background-color)
        );
      }
    }
  }

  #guess-table-container {
    overflow-x: auto;
    margin-top: 0.5rem;
  }

  .icon-button {
    padding: 0.5rem;
  }

  .indicator {
    --glow-color: transparent;
    width: 0.75rem;
    height: 0.75rem;
    rotate: 45deg;
    display: inline-block;
    transition: background 200ms;
    box-shadow: 0 0 16px var(--glow-color);
    background: hsl(from var(--glow-color) h 100 90);

    &[data-status="unknown"] {
      border: 2px solid rgb(255 255 255 / 0.4);
    }

    &[data-status="correct"] {
      --glow-color: #10b981;
    }

    &[data-status="wrong"] {
      --glow-color: #ef4444;
    }
  }

  .icon-link {
    border-radius: 0.5rem;
    background: radial-gradient(
      circle at bottom right,
      hsl(from var(--color) h s calc(l + 25)),
      var(--color)
    );
    box-shadow: 1px 1px 4px -2px #0008;

    &:hover,
    &:focus {
      outline: none;
      background: radial-gradient(
        circle at bottom right,
        hsl(from var(--color) h s calc(l + 30)),
        hsl(from var(--color) h s calc(l + 10))
      );
    }

    &:active {
      background: radial-gradient(
        circle at bottom right,
        hsl(from var(--color) h s calc(l - 5)),
        hsl(from var(--color) h s calc(l - 10))
      );
    }

    &:focus-visible {
      outline: 2px solid white;
    }
  }

  #indicator-bar {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem;
  }

  .progress-bar {
    position: relative;
    background: rgb(0, 0, 0, 0.2);
    width: 100%;
    --half-height: 0.25rem;
    height: calc(var(--half-height) * 2);
    clip-path: polygon(
      0 50%,
      var(--half-height) 100%,
      calc(100% - var(--half-height)) 100%,
      100% 50%,
      calc(100% - var(--half-height)) 0,
      var(--half-height) 0
    );

    &::before {
      content: "";
      position: absolute;
      background: white;
      inset: 0;
      right: 100%;
      transition: right 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    &[data-playing="true"]::before {
      right: 0;
      transition: right 3s linear;
    }
  }

  .progress-bar-container {
    position: relative;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
  }

  .sample-control {
    display: flex;
    border-radius: 9999px;
    padding: 0.25rem;
    background: rgb(255 255 255 / 0.2);
  }

  .sample-label {
    z-index: 1;
    white-space: nowrap;
    font-size: 0.75rem;
    color: white;
    text-shadow: var(--text-shadow);
  }

  #sample-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .slider-root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    touch-action: none;
    height: 100px;
  }

  .slider-track {
    background: rgb(0 0 0 / 0.2);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    width: 4px;
  }

  .slider-range {
    position: absolute;
    background-color: #ece5d8;
    border-radius: 9999px;
    width: 100%;
  }

  .slider-thumb {
    display: block;
    background: #ece5d8;
    rotate: 45deg;
    width: 8px;
    height: 8px;
    outline: #ece5d8 2px solid;
    outline-offset: 2px;
    border-radius: 1px;
    filter: drop-shadow(0 0 4px rgb(0 0 0 / 0.5));
    transition: outline-color 0.1s;

    &:focus-visible {
      outline: 3px solid white;
    }

    /* &:focus,
    &:focus:not(:focus-visible) {
      outline: 2px solid #ece5d8;
    } */
  }

  .slider-thumb:hover,
  .slider-root:hover .slider-thumb {
    outline-color: white;
  }

  #song-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ece5d8, #ece5d8c0);
    margin: 1rem;
    padding-top: 0.5rem;
    box-shadow: var(--box-shadow);

    @media (min-width: 640px) {
      padding-top: 0;
      padding-left: 0.5rem;
      flex-direction: row;
      width: auto;

      #thumbnail-container {
        width: 20rem;
      }
    }

    #thumbnail-container {
      border-bottom-right-radius: 2rem;
      overflow: hidden;
      height: 100%;
    }

    #thumbnail {
      object-fit: cover;
      pointer-events: none;
      height: 100%;
      aspect-ratio: 1;
    }

    #song-details {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      color: #717782;

      .card-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
      }

      .card-album {
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .card-type-region {
        font-size: 0.875rem;

        #card-region {
          margin-left: 1rem;
          border-left: 2px solid #0004;
          padding-left: 1rem;
        }
      }

      .usage-list {
        font-size: 0.75rem;
        margin: 0.5rem 0;

        ul {
          padding-left: 1rem;
        }

        li {
          border: 2px solid rgb(128 128 128 / 0.5);
          margin-top: 0.25rem;
          padding: 0.25rem;

          &.context {
            transition:
              background 1s,
              outline 1s;
            background: var(--DarkVibrant-color);
            color: #ece5d8;
            outline: 2px solid var(--DarkVibrant-color);
          }
        }
      }
    }
  }

  #song-filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    margin-top: 0.5rem;
    /* padding: 0.5rem; */
    /* background: rgb(0 0 0 / 0.2); */
    /* border-radius: 0.5rem; */

    input {
      background: transparent;
      border-radius: 9999px;
      outline: 1px solid rgb(255 255 255 / 0.5);
      padding: 0.25rem 1rem;
      transition-duration: 100ms;
      width: calc(100% - 0.5rem);
      margin: 0.25rem;
      background: #ffffff02;

      &:hover,
      &:active,
      &:focus {
        outline-width: 3px;
        outline-color: #ece5d8;
      }
    }

    #clear-button {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      cursor: pointer;
      transition-duration: 200ms;
      display: none;
      padding: 0.25rem;

      input:not([value=""]) + & {
        display: block;
      }
    }

    #scroll-area-root {
      overflow: hidden;
    }

    #scroll-area-viewport {
      width: 100%;
      height: 100%;
      padding-right: 1rem;
    }

    #scroll-area-scrollbar {
      display: flex;
      touch-action: none;
      margin: 1rem 0.25rem;
      width: 0.25rem;
      position: relative;
      background: rgb(0 0 0 / 0.1);
      border-radius: 9999px;

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 0.5rem;
        height: 0.25rem;
        background: rgb(255 255 255 / 0.5);
        clip-path: polygon(
          0 0,
          50% 100%,
          100% 0,
          calc(100% - 0.1rem) 0,
          50% 50%,
          0.1rem 0
        );
        left: 50%;
        translate: -50% 0;
      }

      &::before {
        top: -0.5rem;
        rotate: 180deg;
      }

      &::after {
        bottom: -0.5rem;
      }
    }

    #scroll-area-scrollbar-thumb {
      flex: 1;
      background: #ece5d8;
      position: relative;
      --half-width: 0.125rem;
      clip-path: polygon(
        50% 0,
        100% var(--half-width),
        100% calc(100% - var(--half-width)),
        50% 100%,
        0 calc(100% - var(--half-width)),
        0 var(--half-width)
      );
      transition:
        background 0.1s,
        scale 0.1s;

      &:hover {
        background: white;
        scale: 2 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 44px;
        min-height: 44px;
      }
    }

    .album-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: left;
      padding: 0.5rem 1rem;
      color: hsl(from #ece5d8 h s l / 0.5);
      font-size: 0.875rem;
      transition-duration: 100ms;
      position: sticky;
      z-index: 1;
      top: 0;
      backdrop-filter: blur(8px);

      &:hover,
      &:focus {
        background: rgb(0 0 0 / 0.1);
        outline: none;
      }

      &:active {
        background: rgb(0 0 0 / 0.2);
      }

      &::after {
        content: "◆";
        transition: rotate 0.3s ease-in-out;
      }

      &[data-state="open"]::after {
        content: "◇";
      }
    }

    .album-songs {
      overflow: hidden;
      padding-inline: 0.5rem;
    }

    .song {
      padding: 0.5rem 1rem;
      text-align: left;
      width: 100%;
      transition-duration: 100ms;
      transition-timing-function: linear;
      border: 2px solid hsl(from #ece5d8 h s l / 0.2);
      margin-block: 0.25rem;
      text-shadow: var(--text-shadow);
      background: rgb(0 0 0 / 0.1);

      &:hover,
      &:focus {
        border-color: hsl(from #ece5d8 h s l / 0.5);
        scale: 1.03;
        outline: none;
      }

      &:active {
        background: rgb(255 255 255 / 0.1);
      }

      span {
        color: hsl(from #ece5d8 h s l / 0.5);
        font-size: 0.75rem;
      }

      .usage-list {
        font-size: 0.75rem;
        list-style: disc inside;

        ul {
          list-style: disc inside;
          padding-left: 1rem;
        }

        li {
          padding-left: 0.25rem;

          &::marker {
            content: "◇ ";
          }
        }

        li.context {
          background: linear-gradient(
            to right,
            rgb(255 255 255 / 0.2),
            transparent
          );
          border-radius: 0.25rem;
          margin-block: 0.15rem;

          &::marker {
            content: "◈ ";
          }
        }
      }
    }
  }

  #stats {
    border-top: 2px solid #fff4;
    padding: 1rem;
  }

  #streaks {
    text-shadow: var(--text-shadow);

    #highest-streak-label {
      margin-left: 0.5rem;
      border-left: 2px solid #fff4;
      padding-left: 0.5rem;
    }
  }

  .switch-root {
    background: rgb(0 0 0 / 0.2);
    width: 2rem;
    height: 1rem;
    border-radius: 9999px;
    box-sizing: content-box;
    border: 2px solid rgb(0 0 0 / 0.2);
    outline: 2px solid #ece5d8;

    .switch-thumb {
      background-color: #ece5d8;
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 9999px;
      transition-duration: 0.2s;

      &[data-state="checked"] {
        transform: translateX(1rem);
      }

      &[data-disabled] {
        background: rgb(0 0 0 / 0.2);
      }
    }

    &[data-state="checked"] {
      background: #d3bc8e;
    }

    &[data-disabled] {
      background: rgb(0 0 0 / 0.2);
      outline-color: rgb(0 0 0 / 0.2);
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: 4px solid white;
    }
  }

  #trackbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 9999px;
    padding: 0.25rem;
    background: rgb(255 255 255 / 0.2);
  }

  #trackbar-range {
    background: white;
    position: absolute;
    height: 100%;
    left: 0;
    transition: width 0.1s linear;
    z-index: 0;
  }

  .trackbar-sample {
    background: white;
    position: absolute;
    height: 100%;
    top: 0;
    mix-blend-mode: exclusion;
  }

  #trackbar-track {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    background: rgb(0 0 0 / 0.1);
    width: 100%;
    --half-height: 0.2rem;
    height: calc(var(--half-height) * 2);
    clip-path: polygon(
      0 50%,
      calc(var(--half-height) * -1) 100%,
      calc(var(--half-height) * -2) 50%,
      calc(var(--half-height) * -1) 0,
      0 50%,
      var(--half-height) 100%,
      calc(100% - var(--half-height)) 100%,
      100% 50%,
      calc(100% + var(--half-height)) 0,
      calc(100% + var(--half-height) * 2) 50%,
      calc(100% + var(--half-height)) 100%,
      100% 50%,
      calc(100% - var(--half-height)) 0,
      var(--half-height) 0
    );
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1rem;
      aspect-ratio: 1;
      background: white;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  #volume-control {
    border-radius: 9999px;
    padding: 0.25rem;
    background: rgb(255 255 255 / 0.2);

    .slider-root {
      margin: 0.5rem 0;
    }
  }

  .youtube-button {
    --color: #ff0000;
  }

  .spotify-button {
    --color: #1ed760;
  }

  .fandom-button {
    --color: #fa005a;
  }
}
